/* You can add global styles to this file, and also import other style files */
@use "@fontsource/red-hat-text";
@use "@fontsource/red-hat-display";

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-display: swap;
}
